<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Production" />
  </appSettings>
  <connectionStrings>
    <add name="AppDb" connectionString="Server=.;Database=ExtShowcaseDb;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>
